@import 'variable';
@font-face {
	font-family: Inter;
	src: url("../../assets/fonts/Inter-VariableFont_slnt,wght.ttf");
}

* {
	padding: 0px;
	margin: 0;
	box-sizing: border-box;
}


body {
	min-width: 375px;
	font-family: Inter;
	position: relative;
}

body * .desktop-mode {
	display: none;
}

.container  {
	background-color: white;
	width: 100%;
	padding: 20px;
	display: flex;
	flex-direction: column;

	header {
		display: flex;
		justify-content: space-between;

		.nav-links {
			a {
				text-decoration: none;
				color: $secondary-color-very-dark-blue;
				opacity : 50%;
				font-size: 1.2rem;
				font-weight: 500;
				text-align: center;
				padding: 10px;
				&:hover {
					color : $primary-color-red;
					cursor: pointer;
				}
			}
		}
		
	}

	main {
		display : grid;
		

		.poster-image {
			img {
				width: 100%;
			}
		}

		.poster-text {
			h1 {
				font-weight: 800;
				line-height: 1;
			}
		}

		.poster-captions {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			gap: 20px;

			p{
				font-size: 1rem;
				line-height: 1.5;
				opacity: 60%;
			}

			a {
				text-decoration: none;
				background-color: $primary-color-red;
				color: $primary-color-white;
				text-align: center;
				letter-spacing: 4px;
				font-size: small;
				font-weight: 600;
				text-transform: uppercase;
				padding: 13px 5px;
				width: 180px;
			}
		}

		.news * {
			margin-bottom: 20px;
		}

		.news {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding: 20px;
			background-color: $secondary-color-very-dark-blue;
			color: $primary-color-white;

			h1 {
				font-size: 2rem;
				color: $primary-color-orange;
			}

			.news-item {
				border-bottom: 1px solid $secondary-color-dark-grayish-blue;
				h2 {
					font-size: 1.3rem;
				}

				p {
					font-size: 0.98rem;
					opacity: 80%;
					line-height: 2;
				}
			}

			.news-item:last-child {
				border-bottom: none;
				margin-bottom: 0px;
			}
		}
	}

	footer {

		.foot-news {
			display: grid;
			grid-template-areas: "img h1" "img h2" "img p";
			grid-template-columns: 100px 1fr;
			grid-gap: 20px;

			img {
				grid-area: img;
				width: 100px;
			}

			h1 {
				grid-area: h1;
				color: $secondary-color-dark-grayish-blue;
				margin-bottom: 10px;
			}

			h2 {
				grid-area: h2;
				font-size: 1.09rem;
				font-weight: 800;
				margin-bottom: 10px;

			}

			p {
				grid-area: p;
				opacity: 50%;
				font-size: 1rem;
				font-weight: 600;
				line-height: 1.5;
			}
		}
	}
}

@media screen and (width < 1000px){
	.container {
		header {
			margin-bottom: 25px;

			nav {
				display: none;
			}

			.nav-logo {
				img {
					width: 50px
				}
			}

			.nav-links {
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				align-items: left;
			}

			nav.open {
				display: flex;
				flex-direction: column;
				align-items: end;
				gap: 5rem;
				position: absolute;
				top: 0;
				right: 0;
				min-height: 100vh;
				min-width: 13rem;
				padding: 1.5rem;
				z-index: 2;
				background-color: $primary-color-white;

				.nav-links {
					display: flex;
					flex-direction: column;
					align-items: start;
					a {
						color: $secondary-color-very-dark-blue;
					}
				}

				ul {
					align-self: start;
				}
				  
				ul li {
					padding: .9rem 0
				}
			}
		}


		main {
			grid-template-areas: "poster" "textposter" "captions" "news";
			grid-template-columns: 1fr;
			grid-gap: 10px;

			.poster-text {
				h1 {
					font-size: 2.55rem;
				}
			}
	

			.news {
				margin-top: 50px;
				margin-bottom: 50px;
			}
		}

		.footer {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			gap: 20px;
		}
	}
}

@media screen and (width > 1000px){

	body * .desktop-mode {
		display: block;
	}

	body * .mobile-mode {
		display: none;
	}

	body {
		display: flex;
		min-height: 100vh;
	}

	.container {
		width: 100%;
		max-width: 1200px;
		margin: auto;
	}

	header {
		margin-bottom: 50px;
		.nav-logo {
			img {
				width: 100%;
			}
		}
	}

	main {
		width: 100%;
		margin-bottom: 80px;
		grid-template-areas: "poster poster news" "textposter captions news";
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 40px;

		.poster-image {
			grid-area: poster;
		}

		.poster-text {
			grid-area: textposter;

			h1 {
				font-size: 3.5rem;
			}
			
		}

		.poster-captions {
			grid-area: captions;

			a {
				&:hover {
					background-color: $secondary-color-very-dark-blue;
					cursor: pointer;
				}
			}
		}

		.news {
			grid-area: news;
			margin:0;

			.news-item {
				h2{
					&:hover {
						color: $primary-color-orange;
						cursor: pointer;
					}
				}
			}
		}
	}

	footer {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 40px;

		.foot-news {
			h2{
				&:hover {
					color: $primary-color-red;
					cursor: pointer;
				}
			}
		}
	}

}